<section fxLayout="column wrap" fxLayoutAlign="center start" fxLayoutGap="10px">
  <form [formGroup]="heroForm" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" (ngSubmit)="onSubmit()">
    <div fxLayout>
      <button mat-raised-button type="submit" color="primary" [disabled]="heroForm.pristine">Save</button>
      <button mat-raised-button (click)="revert()" color="accent" [disabled]="heroForm.pristine">Revert</button>
    </div>
    <mat-input-container floatPlaceholder="auto">
      <input matInput formControlName="name" type="text" required placeholder="Hero's Name">
    </mat-input-container>
    <div formArrayName="secretLairs" fxLayout="column wrap" fxLayoutAlign="center start">
      <h3>Secret Lairs</h3>
      <button mat-raised-button (click)="addLair()" type="button">Add a Secret Lair</button>
      <div *ngFor="let address of secretLairs.controls; let i=index" [formGroupName]="i" fxLayout="column wrap">
        <b>Address #{{i+1}}
          <button mat-icon-button (click)="removeLair(i)" color="warn">
            <mat-icon class="mat-12">clear</mat-icon>
          </button>
        </b>
        <mat-input-container floatPlaceholder="auto">
          <input matInput formControlName="street" type="text" placeholder="Street">
        </mat-input-container>
        <mat-input-container floatPlaceholder="auto">
          <input matInput formControlName="city" type="text" placeholder="City">
        </mat-input-container>
        <mat-form-field>
          <mat-select formControlName="state" placeholder="State" color="primary">
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-input-container floatPlaceholder="auto">
          <input matInput formControlName="zip" type="text" placeholder="Zip Code">
        </mat-input-container>
      </div>
    </div>
    <h4 fxFlexAlign="start">Super Power</h4>
    <mat-radio-group formControlName="power" [align]="'start'">
      <mat-radio-button value="flight">Flight</mat-radio-button>
      <mat-radio-button value="x-rayvision">X-ray Vision</mat-radio-button>
      <mat-radio-button value="strength">Strength</mat-radio-button>
    </mat-radio-group>
    <mat-checkbox formControlName="sidekick" color="primary" fxFlexAlign="start">
      I have a sidekick.</mat-checkbox>
  </form>
  <p>Form Value is: {{heroForm.value | json }}</p>
  <p>Name change log is: {{ nameChangeLog | json}}</p>
  <p>Form status is: {{ heroForm.status | json }}</p>
</section>