<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">NG Fitness</a>
  </div>
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout class="navigation-items" fxLayoutGap="10px">
      <li *ngIf="!isAuthenticated">
        <a routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/training">Training</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a style="cursor: pointer;" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>