<section fxLayout fxLayoutAlign="center" class="new-training">
    <mat-card fxFlex.gt-xs="400px" fxFlex.xs="100%">
        <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
                <mat-select placeholder="Select exercise" [formControl]="exercise">
                    <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                        {{exercise.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-raised-button color="primary" [disabled]="exercise.invalid" (click)="startTraining()">
                Start
            </button>
        </mat-card-actions>
    </mat-card>
</section>